.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(252, 248, 248, 0.9);
  position: fixed;
  top: 0px;
  left: 600px;
  right: 500px;
  border: 1px rgb(36, 35, 35) solid;
  padding: 0 18px 0 0;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  width: 700px;
  height: 50px;
  z-index: 100;
}

/* .blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
} */

.header img {
  height: 20px;
  width: 25px;
}

.recommendation,
.following {
  flex: 1;
  height: 100%;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recommendation:hover,
.following:hover,
.setting:hover {
  background-color: rgb(211, 208, 208);
}

.setting {
  position: relative;
  width: 60px;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.setting:hover .tooltip {
  opacity: 1;
}

.setting .tooltip {
  position: absolute;
  bottom: -10px;
  left: 59px;
  font-size: 12px;
  padding: 5px 6px;
  background-color: rgb(104, 101, 101);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
  opacity: 0;
  transition: 0.5;
  border-radius: 7px;
}

.post-content-container {
  position: absolute;
  top: 35px;
  left: 592px;
  right: 500px;
  border: 1px rgb(36, 35, 35) solid;
  border-top: none;
  padding: 10px 9px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  width: 700px;
}

.post-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 5px;
  height: 80px;
}

.post-input input {
  height: 40px;
  border: none;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 500;
  width: 600px;
  background-color: rgb(252, 248, 248);
}

.post-input img {
  height: 50px;
  width: 50px;
  border-radius: 30px;
  margin: 0px 20px 1px 1px;
}

.post-input-field {
  display: flex;
  flex-direction: column;
}

.everyone {
  width: 150px;
  padding: 2px 3px;
  color: rgb(16, 175, 238);
}

.everyone:hover {
  background-color: rgba(16, 175, 238, 0.5);
  border-radius: 8px;
}

.post-input-2-container {
  position: relative;
  display: flex;
  flex: row;
  align-items: center;
  padding-left: 60px;
  padding-top: 8px;
  border-top: 1px black solid;
}

.post-input-2-container div {
  padding: 1px 5px;
}

.post-input-2 img {
  height: 20px;
  width: 20px;
}

.post-input-2,
.picture {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 8px 5px;
  border-radius: 8px;
}

.post-input-2:hover,
.picture:hover {
  background-color: rgb(179, 169, 169);
}

.post-input-2:hover .tooltip,
.picture:hover .tooltip {
  opacity: 1;
}

.post-input-2 .tooltip,
.picture .tooltip {
  position: absolute;
  bottom: -30px;
  font-size: 12px;
  padding: 5px 6px;
  background-color: rgb(104, 101, 101);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
  opacity: 0;
  transition: 0.5;
  border-radius: 7px;
}

.picture img {
  height: 40px;
}

.post-button-content {
  position: absolute;
  top: 7px;
  right: 10px;
  bottom: 10px;
  border-radius: 20px;
  border: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  background-color: rgb(16, 175, 238);
  padding: 8px 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: 600;
}

.post-button-content:hover {
  background-color: rgb(27, 157, 209);
}
