.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 1px;
  left: 600px;
  right: 500px;
  border: 3px rgb(36, 35, 35) solid;
  padding: 0 9px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  width: 700px;
  height: 40px;
}

.header img {
  height: 20px;
  width: 25px;
}

.post-content-container {
  background-color: red;
  position: absolute;
  top: 70px;
  left: 600px;
  right: 500px;
  border: 3px rgb(36, 35, 35) solid;
  padding: 30px 9px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  width: 700px;
}

.post-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 5px;
  background-color: blueviolet;
  height: 80px;
}

.post-input input {
  height: 40px;
  border: none;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 500;
}

.post-input img {
  height: 50px;
  width: 50px;
  border-radius: 30px;
  margin: 0px 20px 1px 1px;
}

.post-input-field {
  display: flex;
  flex-direction: column;
  background-color: green;
}

.post-input-2-container {
  position: relative;
  display: flex;
  flex: row;
  background-color: greenyellow;
  align-items: center;
}

.post-input-2-container div {
  padding: 1px 5px;
}

.post-input-2 img {
  height: 20px;
  width: 20px;
}

.picture img {
  height: 40px;
}

.post-button-content {
  position: absolute;
  top: 7px;
  right: 10px;
  bottom: 10px;
  border-radius: 15px;
  border: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  background-color: blue;
  padding: 8px 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: 600;
}
