body {
  position: relative;
  color: rgba(0, 0, 0, 0.8);
  background-color: rgb(252, 248, 248);
}

body .tooltip {
  pointer-events: none;
  transition: opacity 1s;
}

input:focus {
  outline-width: 0;
}

input::placeholder {
  color: rgb(155, 155, 155);
}

@media only screen and (min-width: 952px) {
  body {
    padding-left: 500px;
  }

  .sidebar1 {
    position: fixed;
    top: 1px;
    bottom: 0;
    left: 350px;
    margin-right: 10px;
  }

  .publication-grid {
    width: 718px;
    margin-left: 10px;
  }
  .comment-section {
    font-size: 15px;
    align-items: center;
  }

  .post-input input {
    width: 230%;
  }
}

/* styles for tablet devices */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    padding-left: 200px;
  }

  .sidebar1 {
    position: fixed;
    top: 1px;
    bottom: 0;
    left: 1px;
    width: 13%;
    margin-right: 10px;
  }

  .name-icon {
    font-size: 10px;
  }

  .publication-grid {
    width: 90%;
  }
}

/* styles for mobile devices */
@media only screen and (max-width: 767px) {
  body {
    padding-left: 10px;
  }

  .sidebar1 {
    position: fixed;
    top: 1px;
    bottom: 0;
    left: 0;
    width: 0%;
  }

  .name-icon {
    font-size: 0px;
  }

  .publication-grid {
    width: 100.5%;
  }

  .comment-section {
    font-size: 10px;
    align-items: center;
  }

  .post-input input {
    width: 150%;
  }
}
