.sidebar1 {
  position: fixed;
  top: 1px;
  bottom: 0;
  left: 350px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  padding: 10px 5px 10px 20px;
}

.sidebar1-content:hover {
  background-color: red;
}

.sidebar1 img {
  height: 50px;
  width: 30px;
  margin-right: 30px;
  margin-bottom: 15px;
}

.sidebar1-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0% 10px;
  border-radius: 35px;
}

.x-icon {
  height: 180px;
  width: 80px;
  background-color: blueviolet;
}

.post-button {
  background-color: blue;
  padding: 8px 90px;
  border: none;
  border-radius: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  font-weight: 600;
}

.post-button:hover {
  background-color: bisque;
}
